{% extends 'base_admin.html' %}
{% block content %}
<style>
#tombol {
    margin: 5px 0;
    text-align: right;
}
</style>
<div id="tombol">
    <a class="is-small button is-link" onclick="exportTableToExcel('table-barang', 'data-barang')">Generate Laporan</a>
    <a class="is-small button is-success" href="{% url 'entri_barang' %}">Tambah Data Barang</a>
</div>
<div class="card events-card">
    <header class="card-header">
        <h1 class="card-header-title">
            Daftar Data Barang
        </h1>
        <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </a>
    </header>
    <div class="card-content" style="padding:10px">
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Cari Barang">
                <span class="icon is-small is-left">
                    <i class="fa fa-search"></i>
                </span>
            </div>
    </div>

    <div class="card-table">
        <div class="content">
            <table class="table is-bordered is-striped is-hoverable is-fullwidth" id="table-barang">
            <thead>
                <tr>
                <th>ID Barang</th>
                <th>Nama</th>
                <th>Spesifikasi</th>
                <th>Lokasi</th>
                <th>Kondisi</th>
                <th>Sumber Dana</th>
                <th>Jumlah Keluar</th>
                <th>Jumlah Pinjam</th>
                <th>Stok</th>
                <th>Jumlah</th>
                <!--<th><input type="checkbox" id="data-barang-check-all"></th>-->
                <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for barang in daftar_barang %}
                <tr class="data-barang-item" id="barang-item-{{ barang.id_barang }}">
                <td>{{ barang.id_barang }}</td>
                <td>{{ barang.nama_barang }}</td>
                <td>{{ barang.spesifikasi }}</td>
                <td>{{ barang.lokasi }}</td>
                <td>{{ barang.get_kondisi_display }}</td>
                <td>{{ barang.sumber_dana }}</td>
                <td>{{ barang.stok.all.0.jml_keluar }}</td>
                <td>{{ barang.stok.all.0.jml_dipinjam }}</td>
                <td>{{ barang.stok.all.0.total_stok }}</td>
                <td>{{ barang.jumlah_barang }}</td>
                <!--<td><input type="checkbox" class="data-barang-item-check"></td>-->
                <td><a href="{% url 'detail_barang' barang.id_barang %}"><button class="button is-small is-warning has-text-white">Action</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
<script>
function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}
</script>
{% endblock %}